/* здесь используйте глобальные переменные */
$color-black:#000000;
$color-ultra-light-black: #111111;
$color-light-black: #222222;
$color-grey: #444444;
$color-green: #68b738;
$color-white: #ffffff;
$color-white-milk: #f2f2f2;
$color-light-grey: #d9d9d9;
$color-background-grey: #eaeaea;
